# Database
DATABASE_URL="postgresql://user:password@localhost:5432/fleet_db?schema=public"

# JWT Secret (change in production)
JWT_SECRET="your-super-secret-jwt-key-change-this-in-production"

# Server Port
PORT=3001

# Next.js API URL
NEXT_PUBLIC_API_URL="http://localhost:3001/api"

# CMMS External API
CMMS_API_BASE_URL="https://dev-api-cmms.mtcc.com.mv"
CMMS_API_TOKEN="471c310ab18f98f7afe47d1b311cd60217e485fca4e8a2c0"
